<!-- MENU LATERAL -->
<div class="menu-lateral">
    <div id="m-wrapper" class="m-wrapper optiscroll">
        <div class="field">
            <h1>Employee <font color="#2f51a5">Status</font></h1>
            <div class="grid">
                <div class="content">
                    <div class="icon"><i class="fa fa-users"></i></div>
                    <div class="num">51</div>
                    <div class="desc">All</div>
                </div>
            </div>

            <div class="grid">
                <div class="content">
                    <div class="icon"><i class="fa fa-usd"></i></div>
                    <div class="num">45</div>
                    <div class="desc">Salaried</div>
                </div>
            </div>

            <div class="grid">
                <div class="content">
                    <div class="icon"><i class="fa fa-suitcase"></i></div>
                    <div class="num">05</div>
                    <div class="desc">Commission</div>
                </div>
            </div>

            <div class="grid">
                <div class="content">
                    <div class="icon"><i class="fa fa-clock-o"></i></div>
                    <div class="num">0</div>
                    <div class="desc">Contract</div>
                </div>
            </div>

            <div class="grid">
                <div class="content">
                    <div class="icon"><i class="fa fa-user-times"></i></div>
                    <div class="num">4</div>
                    <div class="desc">Terminated</div>
                </div>
            </div>
        </div>
    </div>
</div>
