<body>
    <!-- MENU SUPERIOR -->
    <div class="menu-superior">
        <div id="m-wrapper-top" class="m-wrapper optiscroll">
            <div class="toggle">
                <i class="fa fa-bars"></i>
            </div>
            <div class="opcoes">
                <div class="world">
                    <h1>My World</h1>
                    <div class="grid dashboard">
                        <div class="content">
                            <div class="icon"><i class="fa fa-dashboard"></i></div>
                            <div class="desc">Dashboard</div>
                        </div>
                    </div>
                    <div class="grid tasks">
                        <div class="content">
                            <div class="icon"><i class="fa fa-tasks"></i></div>
                            <div class="desc">Tasks</div>
                        </div>
                    </div>
                    <div class="grid users">
                        <div class="content">
                            <div class="icon"><i class="fa fa-users"></i></div>
                            <div class="desc">Users</div>
                        </div>
                    </div>
                </div>
                <div class="operations">
                    <h1>Operations</h1>
                    <div class="grid products">
                        <div class="content">
                            <div class="icon"><i class="fa fa-cube"></i></div>
                            <div class="desc">Products</div>
                        </div>
                    </div>
                    <div class="grid custumers">
                        <div class="content">
                            <div class="icon"><i class="fa fa-user"></i></div>
                            <div class="desc">Custumers</div>
                        </div>
                    </div>
                    <div class="grid sales">
                        <div class="content">
                            <div class="icon"><i class="fa fa-shopping-cart"></i></div>
                            <div class="desc">Sales</div>
                        </div>
                    </div>
                    <div class="grid opportunities">
                        <div class="content">
                            <div class="icon"><i class="fa fa-pie-chart"></i></div>
                            <div class="desc">Opportunities</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
