{% include 'Layout/menu-superior.html' %}
{% include 'Layout/menu-lateral.html' %}

<!-- MENU CONTEÚDO -->
<section class="conteudo">
	<div class="container">
    	<div id="conteudo" class="conteudo padding-left-255">
            <div class="row">
            	<h1>
                	<a href="/"><i class="fa fa-arrow-circle-o-left return"></i></a>
                	EMPLOYEE <font color="#2f51a5">{{ UserById.nomeColaborador }}</font>
                </h1>

                <form>
                    <div class="col-md-3">
                    	<div class="foto-perfil">
							{% if UserById.foto is empty %}
								<img src="http://gcsportoseguro.com.br/photos/sem-foto.jpg">
							{% else %}
								<img src="http://gcsportoseguro.com.br/{{ UserById.foto }}">
							{% endif %}
                        </div>
                    </div>
                    <div class="col-md-3">
                    	<div class="row">
                            <div class="col-md-5">
                                <label>First Name</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.nomeColaborador|split(' ', 2)[0] }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Last Name</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.nomeColaborador|split(' ', 2)[1] }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Prefix</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.idEfetivo }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Title</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.nomeColaborador }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Adress</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.enderecoResidencial }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>City</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.cidade }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>State</label>
                            </div>
                            <div class="col-md-7">
                            	<select>
                                	<option value="{{ UserById.cidade }}">{{ UserById.cidade }}</option>
                                </select>
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Zipcode</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.cep }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-7">
                                <input value="{{ UserById.telefoneResidencial }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Mobile</label>
                            </div>
                            <div class="col-md-7">
                                <input class="cell" value="{{ UserById.telefoneCelular }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>E-mail</label>
                            </div>
                            <div class="col-md-7">
                                <input class="mail" value="{{ UserById.email }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Skype</label>
                            </div>
                            <div class="col-md-7">
                                <input class="skype">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Department</label>
                            </div>
                            <div class="col-md-7">
                            	<select>
                                	<option value="{{ UserById.cargo }}">{{ UserById.cargo }}</option>
                                </select>
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Status</label>
                            </div>
                            <div class="col-md-7">
                            	<select>
                                	<option value="{{ UserById.status }}">{{ UserById.status }}</option>
                                </select>
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>Hire Date</label>
                            </div>
                            <div class="col-md-7">
								<input value="{{ UserById.dataAdmissao }}">
                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-5">
                                <label>DOE</label>
                            </div>
                            <div class="col-md-7">
								<input value="{{ UserById.matricula }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                    	<div class="row">
                            <div class="col-md-12">
                                <textarea placeholder="About"></textarea>
                            </div>
                        </div>
                    </div>
        		</form>

                <div class="col-md-12">
               		<div class="table-responsive tabela-dados">
                    	<table class="table table-bordered table-hover">
							<thead>
                            	<tr>
                              		<th>Due Date</th>
                              		<th>% Complete</th>
                              		<th>Assigned to</th>
                              		<th>Owned by</th>
                              		<th>Subject</th>
                            	</tr>
                          	</thead>
                          	<tbody>
								{% for treinamento in Treinamento %}
	                            	<tr>
	                                	<td>{{ treinamento.cadastro }}</td>
	                                    <td>
	                                    	<div class="barra" style="width:{{ treinamento.exameOnline }}%;"></div>
	                                        <span>{{ treinamento.exameOnline }}%</span>
	                                   	</td>
	                                    <td>{{ treinamento.percurso }}</td>
	                                    <td>{{ treinamento.tipoCurso }}</td>
	                                    <td>{{ treinamento.nomeCurso }}</td>
	                            	</tr>
								{% endfor %}

								{% for nota in Notas %}
	                            	<tr>
	                                	<td>--</td>
	                                    <td>
	                                    	<div class="barra" style="width:{{ nota.media }}%;"></div>
	                                        <span>{{ nota.media }}%</span>
	                                   	</td>
	                                    <td>--</td>
	                                    <td>{{ nota.tipo }}</td>
	                                    <td>--</td>
	                            	</tr>
								{% endfor %}
							</tbody>
                        </table>
                	</div>
                </div>

                <div class="col-md-12">
                    <button type="button" class="botao" data-toggle="collapse" data-target="#graphics">Graphics</button>
                    <div id="graphics" class="collapse">
                        <div class="row">
                        	<div class="col-md-3">
                                Gráfico 1
                            </div>
                            <div class="col-md-3">
                                Gráfico 2
                            </div>
                            <div class="col-md-3">
                                Gráfico 3
                            </div>
                            <div class="col-md-3">
                                Gráfico 4
                            </div>
                        </div>
                    </div>
            	</div>
            </div>
        </div>
	</div>
</section>

<!-- JQUERY SIDEBAR E TOOLTIP -->
<script>
	$.sidebarMenu($('.sidebar-menu'));

	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>

<script>
$(document).ready(function(){
	$(".toggle").click(function(){
		$(".menu-lateral").toggle('slide',200);
	});
	$(".toggle").click(function(){
		$("#conteudo").toggleClass('padding-left-235 padding-left-0');
	});
});
</script>

<script type="text/javascript">
	var wr = new Optiscroll(document.getElementById('m-wrapper'), { forceScrollbars: true });
	var wr = new Optiscroll(document.getElementById('m-wrapper-top'), { forceScrollbars: true });
</script>
</body>
</html>
