{% include 'Layout/menu-superior.html' %}
{% include 'Layout/menu-lateral.html' %}

<!-- MENU CONTEÚDO -->
<section class="conteudo">
    <div class="container">
        <div id="conteudo" class="conteudo padding-left-255">
            <div class="pesquisa">
                <div class="nav pull-right top-menu">
                    <input class="form-control busca" placeholder="Buscar" type="text" id="buscaIncoder" onkeyup="buscaDinamica()">
                </div>
            </div>

            <div class="row">
                <ul id="filtro">
                    {% for user in User %}
                        <li style="color: white;"><a href="admin/profile/user?account={{ user.idEfetivo }}"><div class="col-md-4">
                            <div class="grid">
                                <div class="mini-perfil">
                                    <div class="nome">{{ user.nomeColaborador }}</div>
                                    <div class="img-perfil">
                                        {% if user.foto is empty %}
                                            <img src="http://gcsportoseguro.com.br/photos/sem-foto.jpg" style="width: 126px;">
                                        {% else %}
                                            <img src="http://gcsportoseguro.com.br/{{ user.foto }}">
                                        {% endif %}
                                    </div>

                                    <div class="desc">
                                        <span>Address</span>
                                        <p>
                                            {% if user.enderecoResidencial is empty %}
                                                N/D <br />
                                            {% else %}
                                                {{ user.enderecoResidencial }}<br />
                                            {% endif %}

                                            {% if user.bairro is empty %}
                                                N/D <br />
                                            {% else %}
                                                {{ user.bairro }},<br />
                                            {% endif %}

                                            {% if user.cep is empty %}
                                                N/D <br />
                                            {% else %}
                                                {{ user.cep }},<br />
                                            {% endif %}
                                        </p>

                                        <span>Phone</span>
                                            {% if user.telefoneResidencial is empty %}
                                                N/D <br />
                                            {% else %}
                                                <p>{{ user.telefoneResidencial }}<p/>
                                            {% endif %}

                                        <span>E-mail</span>
                                            {% if user.email is empty %}
                                                N/D <br />
                                            {% else %}
                                                <p>{{ user.email }}</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- BUSCA DINAMICA -->
<script>
    function buscaDinamica() {
        var input, filter, ul, li, a, i;
        input = document.getElementById('buscaIncoder');
        filter = input.value.toUpperCase();
        ul = document.getElementById("filtro");
        li = ul.getElementsByTagName('li');

        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>

<!-- JQUERY SIDEBAR E TOOLTIP -->
<script>
    $.sidebarMenu($('.sidebar-menu'));

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
$(document).ready(function(){
    $(".toggle").click(function(){
        $(".menu-lateral").toggle('slide',200);
    });
    $(".toggle").click(function(){
        $("#conteudo").toggleClass('padding-left-235 padding-left-0');
    });
});
</script>

<script type="text/javascript">
    var wr = new Optiscroll(document.getElementById('m-wrapper'), { forceScrollbars: true });
    var wr = new Optiscroll(document.getElementById('m-wrapper-top'), { forceScrollbars: true });
</script>
</body>
</html>
