@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
 @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500'); 
body {
	background-color: #fff;
	margin: 0;
	padding: 0;	
}	
body a:link {
	outline: none;	
}
.toggle {
    position: fixed;
	width: 50px;
	height: 125px;
	z-index: 99999;
	background: #2f51a5;
}
.toggle i {
    cursor: pointer;
	color: #fff;
    display: inline-block;
    font-size: 21px;
	margin: 51px 5px 5px 14px;
}
.menu-superior {
	background: #e8e8e8;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
	height: 125px;
	position: fixed;
	z-index: 1000;
}
.menu-superior .opcoes {
	width: 1515px;
	float: left;
	position: relative;
    font-family: 'Montserrat', sans-serif;
	margin-left: 55px;
}
.menu-superior .opcoes .world, .menu-superior .opcoes .operations {
	float: left;
	position: relative;
}
.menu-superior .opcoes .world h1, .menu-superior .opcoes .operations h1 {
    font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: 11px;
	color: #918f8f;
	font-weight: 500;
	text-transform: uppercase;
    padding: 0px 15px 0px;
	margin: 10px 0;
}
.menu-superior .opcoes .grid {
	width: 200px;
	float: left;
	position: relative;
	color: #fff;
	margin: 0 0 0 14px;
    font-family: 'Montserrat', sans-serif;
}
.menu-superior .opcoes .grid .content {
    padding: 9px 15px 15px 15px;
}
.menu-superior .opcoes .grid .content .icon {
	float: left;
	width: 50px;
	font-size: 27px;
}
.menu-superior .opcoes .grid .content .desc {
	float: left;
	width: 100%;
	margin: 7px 0 10px;
	font-size: 12px;
}
.dashboard { background: #00869b; }
.tasks { background: #404040; } 
.users { background: #cc6d00; }
.products { background: #0073c4; }
.custumers { background: #404040; }
.sales { background: #3e7038; }
.opportunities { background: #404040; }

.menu-lateral {
	background: #fff;
	width: 250px;
	height: 100%;
	position: fixed;
	z-index: 999;
}
.menu-lateral .field {
	margin: 154px 0 35px;
	float: left;
	position: relative;
}
.menu-lateral .field h1 {
    font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: 15px;
	color: #918f8f;
	font-weight: 300;
	text-transform: uppercase;
    padding: 0px 15px 0px;
	margin: 0;
	height: 18px;
}
.menu-lateral .grid {
	width: 218px;
	position: relative;
	background: #fff;
	color: #757575;
	border: 1px solid #E0E0E0;
	margin: 15px 0 0 14px;
	float: left;
    font-family: 'Montserrat', sans-serif;
}
.menu-lateral .grid:hover {
	background:  #2f51a5;
	border: 1px solid #2f51a5;
	color: #fff;
    transition: all .3s ease;
}
.menu-lateral .grid .content {
	padding: 15px;
}
.menu-lateral .grid .icon {
	float: left;
	width: 50px;
	font-size: 30px;
}
.menu-lateral .grid .num {
	float: right;
	width: 50px;
	text-align: right;
	font-size: 35px;
	line-height: 35px;
	font-weight: 200;
}
.menu-lateral .grid .desc {
	float: left;
	width: 100%;
	margin: 10px 0 15px;
	font-size: 12px;
}

.conteudo .container {
    width: 100%;
    margin-top: 128px;
	padding-bottom: 20px; 
	float: left;
	position: relative;
}
.conteudo .pesquisa {
	width: 100%;
	float: left;
}
.conteudo h1 {
    font-family: 'Montserrat', sans-serif;
	width: 100%;
	font-size: 15px;
	color: #918f8f;
	font-weight: 300;
    padding: 0px 15px 0px;
	margin: 26px 0;
	height: 18px;
}
.conteudo .return {
    font-size: 25px !important;
	float: left;
	margin: -5px 12px 0px 0px;
	color: #757575;
}
.conteudo .busca {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
    margin-top: 8px;
    width: 20px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    border: 0px solid #000;
    box-shadow: none;
    background: url("../img/search-icon.png") no-repeat 10px 13px;
    padding: 0 0px 0 35px;
    color: #808080;
	float: left;
	height: 43px;
	margin-right: 7px;
}
.conteudo .busca:focus {
    margin-top: 8px;
    width: 180px;
    border: 0px solid #000;
    box-shadow: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: #c8c8c8;
    font-weight: 300;
	margin-right: 7px;
}
.conteudo .grid {
	width: 100%;
	float: left;
	position: relative;
	background: #fff;
	border: 1px solid #E0E0E0;
	margin: 8px 0 15px;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease;
}
.conteudo .grid:hover {
	border: 1px solid #2f51a5;
    transition: all .3s ease;
}
.conteudo .grid .mini-perfil {
	height: 180px;
}
.conteudo .grid .mini-perfil .img-perfil img {
	float: left;
	border: 1px solid #E0E0E0;
	width: 85px;
	height: 124px;
	margin: 10px 15px 10px 10px;
}
.conteudo .grid .mini-perfil .nome {
	background: #f5f5f5;
	padding: 10px;
	color: #a19fa0;
	font-size: 12px;
	font-weight: 500;
}
.conteudo .grid .mini-perfil .desc {
	font-size: 10px;
	margin-top: 15px;
}
.conteudo .grid .mini-perfil .desc span {
	text-transform: uppercase;
	color: #c2c0c0; 
}
.conteudo .grid .mini-perfil .desc p {
	color: #918f8f; 
	font-weight: 500;
}
.conteudo form label {
    font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	color: #918f8f;
	font-weight: 300;
	margin: 10px 0 2px;
}
.conteudo form input {
    width: 100%;
	height: 28px;
	border: 1px solid #e1e1e1;
	padding: 1px 10px;
	margin: 2px 0px 5px;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #2f51a5;
}
.conteudo form select {
    width: 100%;
	height: 28px;
	border: 1px solid #e1e1e1;
	padding: 1px 6px;
	margin: 2px 0px 5px;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #2f51a5;
}
.conteudo form textarea {
    width: 100%;
	height: 274px;
	border: 1px solid #e1e1e1;
	padding: 7px 10px;
	margin: 2px 0px 5px;
	transition: all 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #2f51a5;
	resize: none;
}
.conteudo .foto-perfil {
    width: 100%;
	height: 274px;
	border: 1px solid #e1e1e1;
	position: relative;
}
.conteudo .foto-perfil img {
	width: 98%;
	height: 272px;
	max-width: 210px;
	margin: 0 auto;
	display: table;
}
.conteudo .tabela-dados {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 11px;
	margin-top: 25px;
}
.conteudo thead {
	border-bottom: 1px solid;
}
.conteudo thead th {
	font-weight: normal;
	text-transform: uppercase;
	background: #f6f6f6;
	border-bottom: 0 !important;
}
.conteudo .barra {
	background: #61c7d8;
	position: relative;
	float: left;
	height: 15px;
}
.conteudo table span {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	text-align: center;
}
.conteudo table td {
	position: relative;
}
.conteudo .editar {
    font-size: 16px;
	text-align: center;
	line-height: 0;
}
.conteudo .editar a {
	color: #757575;
}
.conteudo .botao {
	background: #61c7d8;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	padding: 12px;
	width: 100%;
	max-width: 110px;
	border: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}
#graphics .col-md-3 {
	color: #757575;
	font-family: 'Montserrat', sans-serif;	
	font-size: 12px;
	color: #918f8f;
	font-weight: 300;
	margin-bottom: 25px;
}
.phone {
	background: url(../img/icon-phone.png) no-repeat right;
	padding-right: 30px !important;
}
.cell {
	background: url(../img/icon-cell.png) no-repeat right;
	padding-right: 30px !important;
}
.mail {
	background: url(../img/icon-mail.png) no-repeat right;
	padding-right: 30px !important;
}
.skype {
	background: url(../img/icon-skype.png) no-repeat right;
	padding-right: 30px !important;
}
.padding-left-255 {
	padding-left: 255px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.padding-left-0 {
	padding-left: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
a:link, a:hover {
    transition: all .3s ease;
}