.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 18px;
	margin-top: 60px;
}
.sidebar-menu > li {
	position: relative;
	margin: 0;
	padding: 0;
}
.sidebar-menu > li > a {
	padding: 12px 5px 12px 15px;
	display: block;
	border-left: 3px solid transparent;
	color: #a6a6a6;
}
.sidebar-menu > li > a > .fa {
	width: 20px;
}
.sidebar-menu > li:hover > a, .sidebar-menu > li.active > a {
	color: #fff;
	background: #444444;
	border-left-color: #f2c811;
}
.sidebar-menu > li > .treeview-menu {
	margin: 0 1px;
	background: #111111;
	padding-bottom: 8px;
}
.sidebar-menu > li .label,  .sidebar-menu > li .badge {
	margin-top: 0px;
	margin-right: 5px;
}
.sidebar-menu li.header {
	padding: 50px 25px 10px 15px;
	color: #777;
	font-size: 12px;
	font-weight: bold;
}
.sidebar-menu li > a > .fa-angle-left {
	width: auto;
	height: auto;
	padding: 0;
	margin-right: 10px;
	margin-top: 3px;
}
.sidebar-menu li.active > a > .fa-angle-left {
	transform: rotate(-90deg);
}
.sidebar-menu li.active > .treeview-menu {
	display: block;
}
.sidebar-menu a {
	color: #a6a6a6;
	text-decoration: none;
}
.sidebar-menu .treeview-menu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 5px;
}
.sidebar-menu .treeview-menu .treeview-menu {
	padding-left: 20px;
}
.sidebar-menu .treeview-menu > li {
	margin: 0;
}
.sidebar-menu .treeview-menu > li > a {
	padding: 5px 5px 5px 15px;
	display: block;
    font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.sidebar-menu .treeview-menu > li > a > .fa {
	width: 20px;
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-left,  .sidebar-menu .treeview-menu > li > a > .fa-angle-down {
	width: auto;
}
.sidebar-menu .treeview-menu > li.active > a, .sidebar-menu .treeview-menu > li > a:hover {
	color: #fff;
}